.filterContainer {
  position: relative;
  width: 226px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-left: 128px;
}

.filterText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--text-light-gray);
}

.filterBtn {
  width: 100%;
  height: 48px;
  padding: 18px 14px;
  background-color: var(--main);
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--bg-white);
}

.iconUp,
.iconDown {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 40px;
  right: 14px;
  fill: var(--bg-white);
  transition: transform 0.3s ease;
}
.iconUp {
  transform: rotate(0.5turn);
}

.filterList {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 14px;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterItem {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: rgba(17, 16, 28, 0.3);
  cursor: pointer;
  transition: color 0.2s;
}

.filterItem:hover,
.filterItem:active {
  color: var(--text);
}
