/*=================Mobile=================*/
.rightContainer {
  background-image: url("../../../assets/bg-image@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 288px;
  height: 550px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media (min-resolution: 192dpi),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rightContainer {
    background-image: url("../../../assets/bg-image@2x.jpg");
  }
}

.nannies {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 430px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background-color: var(--bg-white);
  padding: 16px 16px;
}

.iconContainer {
  border-radius: 13px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
}

.icon {
  width: 18px;
  height: 14px;
}

.description {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  color: var(--text-gray);
}

.text {
  font-weight: 700;
  font-size: 20px;
  color: var(--text);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .rightContainer {
    width: 704px;
    height: 784px;
  }

  .nannies {
    width: 284px;
    gap: 12px;
    margin-top: 590px;
    margin-left: 365px;
    border-radius: 30px;
    padding: 32px 0px;
  }

  .iconContainer {
    width: 54px;
    height: 54px;
  }

  .icon {
    width: 20px;
    height: 16px;
  }

  .text {
    font-size: 24px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .rightContainer {
    width: 50%;
    height: 784px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
  }

  .nannies {
    width: 284px;
    gap: 12px;
    margin-top: 590px;
    margin-left: 365px;
    border-radius: 30px;
    padding: 32px 0px;
  }

  .iconContainer {
    width: 54px;
    height: 54px;
  }

  .icon {
    width: 20px;
    height: 16px;
  }

  .text {
    font-size: 24px;
  }
}
