/*=================Mobile=================*/
.modalContent {
  background-color: var(--bg-white);
  padding: 24px;
  border-radius: 25px;
  width: 240px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.formTitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  color: #11101c;
  margin-bottom: 20px;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.btnLogout {
  border-radius: 30px;
  border: 1px solid var(--main);
  padding: 14px 80px;
  color: var(--bg-white);
  line-height: 1.25;
  letter-spacing: -0.01rem;
  background-color: var(--main);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .modalContent {
    padding: 64px;
    border-radius: 30px;
    width: 438px;
    margin-right: auto;
    margin-top: 220px;
  }

  .choiceContainer {
    flex-direction: row;
    gap: 40px;
  }

  .btnLogout {
    width: 180px;

    transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btnLogout:hover {
    background-color: var(--main-light);
    color: var(--main);
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .modalContent {
    padding: 64px;
    border-radius: 30px;
    width: 438px;
    margin-right: auto;
    margin-top: 220px;
  }

  .choiceContainer {
    flex-direction: row;
    gap: 40px;
  }

  .btnLogout {
    width: 180px;

    transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btnLogout:hover {
    background-color: var(--main-light);
    color: var(--main);
  }
}
