.cardContainer {
  width: 1136px;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-white);
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 24px;
  gap: 24px;
}

.imgContainer {
  position: relative;
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.img {
  width: 96px;
  height: 96px;
  border-radius: 15px;
}

.status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--price);
  top: 16px;
  right: 16px;
  border: 2px solid var(--bg-white);
}

.mainInfo {
  width: 992px;
}
