.cardContainer {
  width: 1136px;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-white);
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 24px;
  gap: 24px;
}

.imgContainer {
  position: relative;
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.img {
  width: 96px;
  height: 96px;
  border-radius: 15px;
}

.status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--price);
  top: 16px;
  right: 16px;
  border: 2px solid var(--bg-white);
}

.mainInfo {
  width: 992px;
}

.headerCard {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-light-gray);
}

.listContainer {
  display: flex;
  margin-bottom: 8px;
}
.listHeader {
  display: flex;
  gap: 16px;
  margin-right: 48px;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.stick {
  color: rgba(17, 16, 28, 0.2);
}

.iconMap {
  width: 16px;
  height: 16px;
  stroke: var(--text);
  fill: var(--bg-white);
  margin-right: 6px;
}

.iconStar {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.price {
  color: var(--price);
  margin-left: 6px;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--text);
  margin-bottom: 24px;
}

.nannyInfoList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.nannyInfoItem {
  display: flex;
  height: 24px;
  border-radius: 24px;
  padding: 8px 16px;
  background-color: var(--bg-gray);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-light-gray);
}

.info {
  color: var(--text);
  margin-left: 4px;
}

.charactersList {
  display: flex;
  gap: 10px;
  margin-left: 8px;
  color: var(--text);
}

.nunnyAbout {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-gray);
  margin-bottom: 14px;
}

.readMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--text);
  transition: font-size 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.readMore:hover {
  font-size: 17px;
}

.reviewsContainer {
  margin-top: 48px;
  margin-bottom: 48px;
}

.orderBtn {
  border-radius: 30px;
  padding: 14px 28px;
  width: 215px;
  height: 48px;
  background-color: var(--main);

  color: var(--bg-white);

  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orderBtn:hover {
  background-color: var(--main-light);
  border: 1px solid var(--main);
  color: var(--main);
}
