/*=================Mobile=================*/
.navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01rem;
  color: var(--bg-white);
}

.active {
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.link.active::after {
  position: absolute;
  width: 4px;
  height: 4px;
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  left: 45%;
  background-color: var(--bg-white);
  content: "";
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .navList {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .link.active::after {
    width: 5px;
    height: 5px;
  }
}
