.navList {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01rem;
  color: var(--bg-white);
}
.active {
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.link.active::after {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  left: 45%;
  background-color: var(--bg-white);
  content: "";
}

.homePageNav {
  margin-left: 360px;
}
