/*=================Mobile=================*/
.headerContainer {
  max-width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 14px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.interactive {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.imgHead {
  width: 144px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 6px 18px;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 704px;
    padding: 20px 56px;
  }

  .interactive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .headerContainer {
    max-width: 1248px;
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 96px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
  }

  .imgHead {
    width: 164px;
    height: 28px;
    border-radius: 16px;
    padding: 8px 18px;
  }

  .interactive {
    display: flex;
    flex-direction: row;
    width: 590px;
    align-items: center;

    justify-content: space-between;
  }
}
