.modalContent {
  background-color: var(--bg-white);
  padding: 64px;
  border-radius: 30px;
  width: 471px;
  position: relative;
  color: black;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.close {
  width: 32px;
  height: 32px;

  position: absolute;
  right: 20px;
  top: 20px;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: black;
  cursor: pointer;
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover {
  stroke: var(--main);
}

.formTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  color: #11101c;
  margin-bottom: 20px;
}

.formText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-gray);
  margin-bottom: 40px;
}

.nannyContent {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.image {
  width: 44px;
  height: 44px;
  border-radius: 15px;
}

.nannyText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-light-gray);
}

.nannyName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.upperContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.upperInput {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 15px 16px 18px;
  width: 199px;
  height: 20px;
  outline: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text);
}

.upperInput::placeholder,
.lowerInput::placeholder,
.textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-gray);
}

.lowerInput {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 41px 16px 18px;
  width: 413px;
  height: 20px;
  outline: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text);
}

.textarea {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 38px 80px 18px;
  width: 416px;
  height: 20px;
  outline: transparent;
  resize: none;

  font-size: 16px;
  line-height: 1.25;
  color: var(--text);
}

.leftUppContainer,
.rightUppContainer {
  display: flex;
  flex-direction: column;

  width: 232px;
}

.lowerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.sendBtn {
  border-radius: 30px;
  padding: 16px 217px;
  width: 472px;
  height: 52px;
  margin-top: 40px;

  background-color: var(--main);
  color: var(--bg-white);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01rem;

  transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sendBtn:hover {
  background-color: var(--main-light);
  color: var(--main);
  border: 1px solid var(--main);
}

.error {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #f03f3b;
}

.inputTime {
  position: relative;
  height: 72px;
}
.iconBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: var(--bg-white);
  stroke: var(--text);
}

.iconClock {
  width: 20px;
  height: 20px;
}

.dropDown {
  position: absolute;
  width: 119px;
  right: -2px;
  top: 60px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 12px;
  padding: 16px;
}

.meeting {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 16px;
}

.timeList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.timeItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: rgba(17, 16, 28, 0.3);
  cursor: pointer;
  transition: color 0.2s;
}

.timeItem:hover {
  color: var(--text);
}

.inputDiv {
  height: 72px;
}
