@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  scroll-behavior: smooth;
}

:root {
  --main: #f03f3b;
  --main-light: rgba(240, 63, 59, 0.2);
  --text: #11101c;
  --text-gray: rgba(17, 16, 28, 0.5);
  --bg-gray: #f3f3f3;
  --bg-white: #fbfbfb;
  --star: #ffc531;
  --price: #38cd3e;
}

body {
  font-family: "Open Sans", serif;
  color: var(--bg-white);
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}
