/*=================Mobile=================*/
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  position: relative;
}

.headerContainer {
  position: absolute;
  width: 288px;
  top: 16px;
  z-index: 10;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
  }

  .headerContainer {
    top: 32px;
    width: 704px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }

  .headerContainer {
    top: 32px;
    width: 1440px;
  }
}
