.modalContent {
  background-color: var(--bg-white);
  padding: 64px;
  border-radius: 30px;
  width: 438px;
  position: relative;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.close {
  width: 20px;
  height: 20px;

  position: absolute;
  right: 28px;
  top: 28px;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: black;
  cursor: pointer;
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover {
  stroke: var(--main);
}

.formTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  color: #11101c;
  margin-bottom: 20px;
}

.formText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01rem;
  color: var(--text-gray);
}

.formValues {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 40px 0px;
}

.input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 400px;
  height: 18px;
  outline: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text);
}

.formBtn {
  border-radius: 30px;
  padding: 14px 19px;
  width: 438px;
  height: 52px;
  background-color: var(--main);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01rem;
  color: var(--bg-white);

  transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formBtn:hover {
  background-color: var(--main-light);
  color: var(--main);
  border: 2px solid var(--main);
}

.iconContainer {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.iconPwd {
  width: 20px;
  height: 20px;
  stroke: var(--main);
  fill: var(--bg-white);
}

.error {
  height: 20px;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: var(--main);
}
